/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2 {
    font-family: 'Raleway', sans-serif;
} 
/* HEADER */
header {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #489EC2;
    font-size: 6vw;
}

.pblock {
    font-style: italic;
}

h1 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}
span {
    background-color: white;
    color: #489EC2;
    line-height: 70px;
}

.h2header {
    font-size: 5vw;
    padding-bottom: 30px;
    font-variant: small-caps;
    border-bottom: 5px solid #31738D;
}
/* MAIN */

main {
    text-align: center;
    font-family:  'Raleway', sans-serif;
}

.h2info {
    color: #31738D;
    font-weight: 600;
    font-size: 5.5vw;
    text-transform: uppercase;
    padding-top: 10vw;
    padding-bottom: 5vw;
    font-stretch: condensed;
}

.img5 {
    border: 1px solid #000;
    padding: 10px;
}

figcaption {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

address :not(a) {
    text-align: left;
    margin-left: 5vw;
    font-weight: bold;
    font-stretch: extra-expanded;
}

address {
    text-align: left;
    font-family:  'Raleway', sans-serif;
}

.about {
    font-weight: bold;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    text-align: left;
}

blockquote {
    display: block;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: rgb(224, 223, 223);
    border-radius: 2vw;
  }

.p1 {
    font-stretch: expanded;
    padding: 2px;
    line-height: 7vw;
    text-align: left;
    margin-left: 5vw;
    font-weight: 600;
}
.p1 strong {
    color: #489EC2;
}

.hr2 {
    border-top: 1px dashed grey;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;
}

h3 {
    font-weight: bold;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    text-align: left;
}

mark{
    background-color: #489EC2;
    color: white;
}

a {color: orange;}

ul {
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: left;
    margin-left: 15vw;
}

dt {
    text-align: left;
    margin-left: 5vw;
}

dd{
    text-align: left;
    margin-left: 10vw;
}

.str {
    color: #489EC2;
}

dl {
    line-height: 7vw;
    font-weight: 600;
    margin-bottom: 15vw;
}
/* ELEMENTI NEL MAIN */

/* FOOTER */
.hrfooter {
    border-bottom: 7px solid #489EC2;
    margin-top: 0%;
}

a1 {color: rgb(255, 34, 0);}

kbd {color: yellow;}

.lastp {color: white;}

.pp {color: white;
margin-left: 5vw;
margin-right: 5vw;
font-size: 4vw;
margin-bottom: 3vw;
}
.prep {color: gray;
font-size: 4vw;}

footer {
    background-color: rgb(72, 70, 70);
    text-align: center;
}
