/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

h1, h2 {
    font-family: 'Raleway', sans-serif;
} 
/* HEADER */
header {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #489EC2;
    font-size: 6vw;
}
h1 {
    color: white;
    font-style: bold;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}
span {
    background-color: white;
    color: #489EC2;
    line-height: 70px;
}

.h2header {
    font-size: 5vw;
    padding-bottom: 30px;
    font-variant: small-caps;
}
/* MAIN */
.hr1 {
    border: 7px solid #31738D;
    margin-top: 0%;
}
main {
    text-align: center;
}

.h2info {
    color: #31738D;
    font-weight: 500;
    font-size: 6vw;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

figure {
    border: 1px #000000 solid;
    padding: 4px;
    margin: auto;
}

/* ELEMENTI NEL MAIN */

/* FOOTER */
